@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
  0% {
    background-color: theme("colors.blue.50");
  }
  100% {
    background-color: transparent;
  }
}

.highlight-task {
  animation: highlight 2s ease-out;
}
