.rbc-header {
  padding: 10px 3px;
  font-weight: bold;
  font-size: 14px;
}

.rbc-button-link {
  font-size: 14px;
}

.rbc-toolbar {
  margin-bottom: 20px;
}

.rbc-toolbar button {
  padding: 8px 12px;
  font-size: 14px;
}

.rbc-event {
  background-color: #166534;
  border-radius: 0px;
}

.rbc-today {
  background-color: #dcfce7 !important;
}

/* Styles for month view */
.rbc-month-view .rbc-event {
  padding: 2px 5px;
  font-size: 12px;
}

/* Styles for week view */
.rbc-time-view .rbc-event {
  padding: 2px 5px;
  font-size: 12px;
}

/* Styles for day view */
.rbc-day-slot .rbc-event {
  padding: 2px 5px;
  font-size: 14px;
}

/* Improve visibility of all-day events */
.rbc-allday-cell {
  max-height: 50px;
  overflow-y: auto;
}

.rbc-allday-cell .rbc-event {
  margin-bottom: 1px;
}

/* Ensure select dropdown is above calendar */
.radix-select {
  z-index: 50;
}
