BETTER_AUTH_SECRET=XsBopf0othR6iW7a0zdlWynAN9jCsxmD
DATABASE_URL=postgresql://neondb_owner:npg_6Q4KsyJpcgeX@ep-delicate-boat-abklnuxm-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require
GOOGLE_CLIENT_ID=1043030213057-4llu58gbh1o9euehtckilu6l7esikvpj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
VITE_BASE_URL=http://localhost:3001
VITE_PUBLIC_POSTHOG_KEY=phc_jBThLlARX2hgD54FtbQRPsBgGGI2CJwAyLoEv4OKaTV
VITE_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com